
<a routerLink="/app/build/{{ breadboard.id }}/edit" class="title">
	{{ breadboard.title }}
</a>

<a
	*ngIf="breadboard.description"
	routerLink="/app/build/{{ breadboard.id }}/edit"
	class="description">
	{{ breadboard.description }}
</a>

<ul class="items">
	<ng-template ngFor let-item [ngForOf]="breadboard.items">

		<li class="item" [ngSwitch]="item.type">
			
			<ng-template ngSwitchCase="text">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-text/{{ item.id }}"
					class="text-item">
					{{ item.value }}
				</a>

			</ng-template>

			<ng-template ngSwitchCase="field">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-field/{{ item.id }}"
				 	class="field-item">
					<div class="field-item__label">
						{{ item.label }}:
					</div>
					<div class="field-item__value">
						{{ item.value || "&nbsp;" }}
					</div>
				</a>

			</ng-template>

			<ng-template ngSwitchCase="placeholder">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-placeholder/{{ item.id }}"
					class="placeholder-item">
					{{ item.label }}
				</a>

			</ng-template>

			<ng-template ngSwitchCase="action">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-action/{{ item.id }}"
					class="action-item">
					{{ item.label }}
				</a>

			</ng-template>

		</li>

	</ng-template>
</ul>
