
<a
	routerLink="/app/build/{{ breadboard.id }}/edit"
	class="breadboard-action">

	<div class="title">
		{{ breadboard.title }}
	</div>

	<div
		*ngIf="breadboard.description"
		class="description">
		{{ breadboard.description }}
	</div>

</a>

<ul class="items">
	<ng-template ngFor let-item [ngForOf]="breadboard.items">

		<li class="item" [ngSwitch]="item.type">
			
			<ng-template ngSwitchCase="text">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-text/{{ item.id }}"
					class="item-action">
					<div class="text-item">
						{{ item.value }}
					</div>
				</a>

			</ng-template>

			<ng-template ngSwitchCase="field">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-field/{{ item.id }}"
				 	class="item-action">
				 	<div class="field-item">
						<div class="field-item__label">
							{{ item.label }}:
						</div>
						<div class="field-item__value">
							{{ item.value || "&nbsp;" }}
						</div>
					</div>
				</a>

			</ng-template>

			<ng-template ngSwitchCase="placeholder">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-placeholder/{{ item.id }}"
					class="item-action">
					<div class="placeholder-item">
						{{ item.label }}
					</div>
				</a>

			</ng-template>

			<ng-template ngSwitchCase="action">

				<a
					routerLink="/app/build/{{ breadboard.id }}/edit-action/{{ item.id }}"
					class="item-action">
					<div class="action-item">
						{{ item.label }}
					</div>
				</a>

			</ng-template>

		</li>

	</ng-template>
</ul>
