
:host {
	color: #333333 ;
	display: block ;
	width: 400px ;
}

.title {
	display: block ;
	font-size: 24px ;
	font-weight: 600 ;
	line-height: 29px ;
	margin-bottom: 10px ;
}

.description {
	display: block ;
	color: #666666 ;
	font-size: 14px ;
	line-height: 21px ;
	margin-bottom: 15px ;
}

.items {
	background-color: #dadada ;
	border: 1px solid #aaaaaa ;
	border-radius: 5px 5px 5px 5px ;
	font-size: 16px ;
	letter-spacing: 0.5px ;
	line-height: 21px ;
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 20px 23px 20px 23px ;
}

.item {
	margin: 0px 0px 20px 0px ;
	padding: 0px 0px 0px 0px ;

	&:last-child {
		margin-bottom: 0px ;
	}
}

.text-item {
	display: block ;
}

.field-item {
	display: block ;

	&__label {
		display: block ;
		font-weight: 600 ;
		margin-bottom: 4px ;
	}
	&__value {
		background-color: #ffffff ;
		border: 1px solid #cccccc ;
		border-radius: 5px 5px 5px 5px ;
		padding: 5px 10px 5px 10px ;
	}
}

.placeholder-item {
	background-color: #f0f0f0 ;
	border-radius: 5px 5px 5px 5px ;
	color: #777777 ;
	display: block ;
	padding: 20px 20px 20px 20px ;
	text-align: center ;
}

.action-item {
	background-color: #999999 ;
	border-radius: 7px 7px 7px 7px ;
	color: #ffffff ;
	display: block ;
	font-weight: 600 ;
	padding: 10px 10px 10px 10px ;
	text-align: center ;
	text-decoration: none ;
}
