
<div class="nav-column">

	<nav class="modes">
		<a routerLink="/app/build" class="mode mode--on">
			<span>Build</span>
		</a>
		<a routerLink="/app/preview" class="mode">
			<span>Preview</span>
		</a>
	</nav>

	<div class="toc">
		<div class="toc-inner">

			<ul class="toc-items">
				<ng-template ngFor let-breadboard [ngForOf]="breadboards">

					<li class="toc-item">

						<a routerLink="/app/build/{{ breadboard.id }}" class="toc-link">
							<poc-small-breadboard
								[breadboard]="breadboard">
							</poc-small-breadboard>
						</a>

					</li>

				</ng-template>
			</ul>

		</div>
	</div>

</div>

<div class="content-column">
	<div class="content-column-inner">

		<ng-template [ngIf]="selectedBreadboard">

			<poc-build-breadboard
				[breadboard]="selectedBreadboard">
			</poc-build-breadboard>

		</ng-template>

	</div>
</div>

<div class="action-column">

	<router-outlet></router-outlet>

</div>
