
<div class="nav-column">

	<nav class="modes">
		<a routerLink="/app/build" class="mode">
			<span>Build</span>
		</a>
		<a routerLink="/app/preview" class="mode mode--on">
			<span>Preview</span>
		</a>
	</nav>

	<div class="toc">
		<div class="toc-inner">

			<ul class="toc-items">
				<ng-template ngFor let-breadboard [ngForOf]="breadboards" [ngForTrackBy]="trackBy">

					<li class="toc-item">

						<a routerLink="/app/preview/{{ breadboard.id }}" class="toc-link">
							<poc-small-breadboard
								[breadboard]="breadboard">
							</poc-small-breadboard>
						</a>

					</li>

				</ng-template>
			</ul>

		</div>
	</div>

</div>

<div class="content-column">
	<div class="content-column-inner">

		<ng-template [ngIf]="selectedBreadboard">

			<poc-preview-breadboard
				[breadboard]="selectedBreadboard">
			</poc-preview-breadboard>

			<div class="actions">
				<a
					routerLink="/app/build/{{ selectedBreadboard.id }}"
					class="action">
					Edit Breadboard
				</a>
			</div>

		</ng-template>

	</div>
</div>
