
<div class="form-body">
	<div class="form-body-inner">

		<h3 class="title">
			Add Placeholder
		</h3>

		<form class="form">
			<div class="form__item">
				<label class="form__label">
					Label:
				</label>
				<div class="form__control">
					<textarea autofocus class="form__input"></textarea>
				</div>
			</div>

			<div class="form__actions">
				<button type="submit" class="form__submit">
					Create
				</button>
				<button type="button" routerLink="../view" class="form__cancel">
					Cancel
				</button>
			</div>
		</form>

	</div>
</div>
