
<div class="form-body">
	<div class="form-body-inner">

		<h3 class="title">
			Add Field
		</h3>

		<form (submit)="processForm()" class="form">
			<div class="form__item">
				<label for="add-field-label-input" class="form__label">
					Label:
				</label>
				<div class="form__control">
					<input
						id="add-field-label-input"
						type="text"
						name="label"
						[(ngModel)]="form.label"
						autofocus
						class="form__input"
					/>
				</div>
			</div>
			<div class="form__item">
				<label class="form__label">
					Value:
				</label>
				<div class="form__control">
					<textarea
						id="add-field-value-input"
						name="value"
						[(ngModel)]="form.value"
						(keydown.meta.enter)="processForm()"
						class="form__input"
					></textarea>
				</div>
			</div>

			<div class="form__actions">
				<button type="submit" class="form__submit">
					Create
				</button>
				<button type="button" routerLink="../view" class="form__cancel">
					Cancel
				</button>
			</div>
		</form>

	</div>
</div>
