
<div class="form-body">
	<div class="form-body-inner">

		<h3 class="title">
			Edit Breadboard
		</h3>

		<form class="form">
			<div class="form__item">
				<label class="form__label">
					Title:
				</label>
				<div class="form__control">
					<input type="text" autofocus class="form__input" />
				</div>
			</div>
			<div class="form__item">
				<label class="form__label">
					Description:
				</label>
				<div class="form__control">
					<textarea class="form__input"></textarea>
				</div>
			</div>

			<div class="form__actions">
				<button type="submit" class="form__submit">
					Save
				</button>
				<button type="button" routerLink="../view" class="form__cancel">
					Cancel
				</button>
			</div>
		</form>

	</div>
</div>

<div class="form-footer">

	<button class="form__delete">
		Delete Breadboard
	</button>

</div>
