
<ul class="items">
	<li class="item">
		<a routerLink="../edit" class="action">
			Edit Breadboard
		</a>
	</li>
	<li class="item">
		<a routerLink="../add-text" class="action">
			Add Text (T)
		</a>
	</li>
	<li class="item">
		<a routerLink="../add-field" class="action">
			Add Field (F)
		</a>
	</li>
	<li class="item">
		<a routerLink="../add-placeholder" class="action">
			Add Placeholder (P)
		</a>
	</li>
	<li class="item">
		<a routerLink="../add-action" class="action">
			Add Action (A)
		</a>
	</li>
	<li class="item">
		<a routerLink="../add-breadboard" class="action">
			Add Breadboard (B)
		</a>
	</li>
</ul>
