
<div class="form-body">
	<div class="form-body-inner">

		<h3 class="title">
			Add Breadboard
		</h3>

		<form (submit)="processForm()" class="form">
			<div class="form__item">
				<label for="add-breadboard-title-input" class="form__label">
					Title:
				</label>
				<div class="form__control">
					<input
						id="add-breadboard-title-input"
						type="text"
						name="title"
						[(ngModel)]="form.title"
						autofocus
						class="form__input"
					/>
				</div>
			</div>
			<div class="form__item">
				<label for="add-breadboard-description-input" class="form__label">
					Description:
				</label>
				<div class="form__control">
					<textarea
						id="add-breadboard-description-input"
						name="description"
						[(ngModel)]="form.description"
						(keydown.meta.enter)="processForm()"
						class="form__input"
					></textarea>
				</div>
			</div>

			<div class="form__actions">
				<button type="submit" class="form__submit">
					Create
				</button>
				<button type="button" routerLink="../view" class="form__cancel">
					Cancel
				</button>
			</div>
		</form>

	</div>
</div>
